
@tailwind preflight;

@tailwind utilities;

@responsive {
    .bg-gradient-blue-to-purple {
      background-image: linear-gradient(to right, config('colors.blue-dark'), config('colors.green-light'));
    }
  }

  .header {
      width: 100%;
      background-size:100% 100vh;
}
  body {
      font-family: "Big Caslon";
  }